<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'museu/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'museu/museu.css' %}">
    <title>Museu MBH</title>
</head>
<body>
    <header>
        <nav>
            <h1 id="logo">Museu MBH</h1>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <footer>
    </footer>
</body>
</html>