{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'museu/reset.css' %}">
    <link rel="stylesheet" href="{% static 'museu/header.css' %}">
    <link rel="stylesheet" href="{% static 'museu/footer.css' %}">
    {% block titulo %}
    <title>Modelo Museu</title>
    {% endblock %}
</head>
<body>
    {% block menu %}
    <header>
        <h1 id="logo">Museu MBH</h1>
        <nav id="menu">
            <ul>
                {% block linksMenu %}
                <li><a href="{% url 'index' %}">Início</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
                <li><a href="{% url 'about' %}">Sobre</a></li>
                {% endblock %}
            </ul>
        </nav>
        <div id="autenticar">
            <a>Resgitrar</a>
            <a href="{% url 'login' %}" id="login">Login</a>
        </div>
    </header>
    {% endblock %}
    <div class="conteudo">
    {% block conteudo %}
    {% endblock %}
    </div>
    {% block rodape %}
    <footer>
        <p>&copy; 2020</p>
        <p><a href="https://www.unoesc.edu.br/" target="_blank">UNOESC</a></p>
    </footer>
    {% endblock %}
</body>
</html>