header {
    background-color: #73BB75;
    height: 80px;
    border-bottom: 1px solid white;
}

#logo {
    color: white;
    display: inline-block;
    height: 80px;
    padding: 15px;
}

#menu {
    display: inline-block;
    vertical-align: top;
}

#menu li {
    display: inline-block;
}

#menu a {
    padding:15px;
    border-radius: 15px;
}

#menu a:hover {
    background-color: #9ADF8F
}

/* Centralizar o menu no cabeçalho */
#menu, #autenticar {
    height: 80px;
    padding: 25px;
}

#menu a, #autenticar {
    color: white;
    font-size: 1.25em;
}

#autenticar {
    float: right;
}

#autenticar a {
    border-radius: 20px;
    padding: 10px 25px;
    margin: 5px;
    color: white;
}

#login, #autenticar a:hover {
    background-color: #006AA9;
}

@media(max-width: 935px) {
    #menu, #autenticar {
        display: none;
    }
}